#undef ZMK_LEADER_SEQUENCE
#define ZMK_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            leader: leader { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };

/* German umlauts via EurKey (AltGr / Right Alt + letter) */
ZMK_LEADER_SEQUENCE(de_ae,      &kp RA(A),            A)  // ä
ZMK_LEADER_SEQUENCE(de_oe,      &kp RA(O),            O)  // ö
ZMK_LEADER_SEQUENCE(de_ue,      &kp RA(U),            U)  // ü
ZMK_LEADER_SEQUENCE(de_eszett,  &kp RA(S),            S)  // ß

/* Greek letters via EurKey (AltGr + letter where available) */
ZMK_LEADER_SEQUENCE(el_alpha,   &kp RA(A),            E A)  // α (same as ä on EurKey)
ZMK_LEADER_SEQUENCE(el_beta,    &kp RA(B),            E B)  // β
ZMK_LEADER_SEQUENCE(el_gamma,   &kp RA(G),            E G)  // γ
ZMK_LEADER_SEQUENCE(el_delta,   &kp RA(D),            E D)  // δ
ZMK_LEADER_SEQUENCE(el_epsilon, &kp RA(E),            E E)  // ε
ZMK_LEADER_SEQUENCE(el_zeta,    &kp RA(Z),            E Z)  // ζ
ZMK_LEADER_SEQUENCE(el_eta,     &kp RA(H),            E H)  // η
ZMK_LEADER_SEQUENCE(el_theta,   &kp RA(V),            E V)  // θ
ZMK_LEADER_SEQUENCE(el_iota,    &kp RA(I),            E I)  // ι
ZMK_LEADER_SEQUENCE(el_kappa,   &kp RA(K),            E K)  // κ
ZMK_LEADER_SEQUENCE(el_lambda,  &kp RA(L),            E L)  // λ
ZMK_LEADER_SEQUENCE(el_mu,      &kp RA(M),            E M)  // μ
ZMK_LEADER_SEQUENCE(el_nu,      &kp RA(N),            E N)  // ν
ZMK_LEADER_SEQUENCE(el_xi,      &kp RA(X),            E X)  // ξ
ZMK_LEADER_SEQUENCE(el_omikron, &kp RA(O),            E O)  // ο
ZMK_LEADER_SEQUENCE(el_pi,      &kp RA(P),            E P)  // π
ZMK_LEADER_SEQUENCE(el_rho,     &kp RA(R),            E R)  // ρ
ZMK_LEADER_SEQUENCE(el_sigma,   &kp RA(S),            E S)  // σ
ZMK_LEADER_SEQUENCE(el_tau,     &kp RA(T),            E T)  // τ
ZMK_LEADER_SEQUENCE(el_upsilon, &kp RA(U),            E U)  // υ
ZMK_LEADER_SEQUENCE(el_phi,     &kp RA(F),            E F)  // ϕ
ZMK_LEADER_SEQUENCE(el_chi,     &kp RA(C),            E C)  // χ
ZMK_LEADER_SEQUENCE(el_psi,     &kp RA(Y),            E Y)  // ψ
ZMK_LEADER_SEQUENCE(el_omega,   &kp RA(W),            E W)  // ω

// BLE and USB
#ifdef CONFIG_WIRELESS
ZMK_LEADER_SEQUENCE(usb,        &out OUT_USB,   U S B)
ZMK_LEADER_SEQUENCE(ble,        &out OUT_BLE,   B L E)
#endif // CONFIG_WIRELESS
ZMK_LEADER_SEQUENCE(reset,      &sys_reset,     R E S E T)
ZMK_LEADER_SEQUENCE(boot,       &bootloader,    B O O T)
